@import 'tailwindcss';

@theme{
    --color-brown:#412b15;
}
@layer utilities {
    .cont {
        @apply border  text-center rounded-xl px-3 py-2 border-gray-50
        hover:text-white hover:scale-105 duration-500
    }
    .btn {
        @apply   border border-gray-50 hover:border-gray-500 hover:bg-brown hover:text-white hover:scale-105 duration-500 ease-in-out font-mono;
    }
    
}
.brown{
    background-color: var(--color-brown);
}

.dol{
    @apply before:content-['$'] after:content-['.00'];
}
.display{
    @apply shadow-2xl  duration-1000 hover:shadow-brown ;
}
