@import "tailwindcss";

@theme{
    --color-brown:#412b15;
}
@layer utilities {
    .cont {
        @apply border w-15 text-center rounded-xl p-2 border-gray-50
        hover:text-white h-10 
    }
    .btn {
        @apply   border border-gray-50 hover:bg-brown hover:text-white;
    }
    
}
.brown{
    background-color: var(--color-brown);
}

.dol{
    @apply before:content-['$'] after:content-['.00'];
}
.display{
    @apply shadow-3xl duration-500 hover:shadow-brown ;
}